{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Penguinbook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

        <link rel="stylesheet" href="{% static 'node_modules/cropperjs/dist/cropper.css' %}"/>
        <link rel="stylesheet" href = "{% static 'css/style.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{% static 'images/penguinbook.ico' %}" type="image/png/ico"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        
        <!-- <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>jQuery is required -->
        <script src="{% static 'node_modules/cropperjs/dist/cropper.js' %}"></script><!-- Cropper.js is required -->
        <script src="{% static 'node_modules/jquery-cropper/dist/jquery-cropper.js' %}"></script>
        <script src="{% static 'script/script.js' %}"></script>
        <script src="{% static 'script/webrtc.js' %}"></script>

    </head>
    
    <body>
        {% block index %} {% endblock %}
        {% block base %}  {% endblock %}
    </body>
</html>

